{% extends 'base.html.twig' %}

{% block title %}Informations{% endblock %}

{% block body %}
<main class="main scroll-div">
    <div class="scroll-div">
        <p class="rgpdLink"><a href="{{ path('app_rgpd') }}">Consulter notre politique de confidentialité</a></p>
        <p class="contactLink"><a href="{{ path('app_contact') }}">Vous avez une question ? Retrouvez notre formulaire de contact</a></p>
        <h1 class="title">Informations</h1>
        <div class="sub-title"> Nos conseils </div>
            <div class="bulle">
                <div class="prise">
                    <div class="intro">Comprendre les Types de Prises dans le Processus de Recharge des Véhicules Électriques</div> <br>
                    <br>
                    <div class="text-intro">Le processus de recharge des véhicules électriques implique deux types de courant - le courant alternatif (AC), principalement utilisé pour la recharge lente et accélérée, et le courant continu (DC), réservé à la haute puissance pour la charge rapide. <br>
                        Avant de discuter des différentes prises, il est essentiel de comprendre ces deux types de courant. </div>
                </div> <br>
                    <div class="ef">
                        <div class="intro2">La prise E/F: </div><br>
                        <br>
                        La prise domestique, également appelée prise E/F, est couramment utilisée pour la recharge des voitures électriques à domicile. La plupart des véhicules électriques incluent un câble compatible avec cette prise universelle. <br>
                        Cependant, il est recommandé de faire vérifier l'installation par un électricien et d'utiliser une prise reliée à son propre disjoncteur. Bien que cette méthode soit la plus simple et économique, la recharge sur une prise domestique est relativement lente, limitée à 10A (environ 2 kW). Pour accélérer le processus, certains optent pour une prise renforcée "Green’Up", permettant une charge à 14A (environ 3 kW).
                    </div> <br>
                <div class="type2">
                    <div class="intro2">La prise type 2: </div><br>
                    <br>
                    Spécifique aux véhicules électriques, la prise Type 2 est aujourd’hui le standard européen pour la charge en courant alternatif. Considérée comme un intermédiaire entre la prise domestique et les différentes prises rapides, la Type 2 accepte davantage de puissance ce qui permet de réduire le temps de recharge. <br>
                    Présente sur les Wallbox, ces bornes de recharge à installer chez soi, elle est aussi utilisée sur une grande partie des bornes publiques.
                    La puissance acceptée va dépendre de la configuration côté borne, mais aussi du chargeur embarqué à bord du véhicule. <br>
                    Aujourd’hui, la plupart des voitures électriques intègrent un chargeur de 7 kW de série. D’autres, comme la Renault ZOE, acceptent jusqu’à 22 kW.
                    Si elle est aujourd’hui majoritairement utilisée pour la charge lente et accélérée, la prise Type 2 sert aussi à la charge rapide. <br>
                    C’était notamment le cas sur les premières générations de ZOE, dont la puissance de charge grimpait à 43 kW.
                    Tesla utilise également une configuration propriétaire du standard sur son réseau de superchargeurs. Utilisée pour les Model S et Model X, celle-ci délivre plus de 100 kW.
                </div> <br>

            </div>
        <div class="aide"> <br>
            <div class="intro">Guide Complet pour une Conduite et une Recharge Optimal des Véhicules Électriques</div>
            <br><br>
             <span>1 - Planification du trajet:</span>
            <br><br>
            Avant de partir en voyage, utilisez la fonction de planification d'itinéraire de l'application pour identifier les stations de recharge le long de votre parcours.
            Vérifiez la disponibilité des bornes de recharge et assurez-vous qu'elles correspondent au type de prise de votre véhicule.
            <br><br>
             <span>2 - Compatibilité des prises:</span>
            <br><br>
            Familiarisez-vous avec les différents types de prises de recharge électrique disponibles sur le marché.
            Assurez-vous d'avoir les adaptateurs nécessaires en cas de besoin, surtout lors de voyages internationaux.
            <br><br>
             <span>3 - Vérification de la disponibilité:</span>
            <br><br>
            Avant de vous rendre à une borne de recharge, vérifiez la disponibilité en temps réel via l'application.
            <br><br>
             <span>4 - Utilisation des bornes de recharge rapide:</span>
            <br><br>
            Les bornes de recharge rapide sont conçues pour fournir une charge plus rapide. Limitez l'utilisation des bornes rapides pour éviter une surchauffe de la batterie.
            <br><br>
             <span>5 - Économie d'énergie:</span>
            <br><br>
            Nous vous conseillons de charger votre véhicule pendant les heures creuses afin de profiter de tarifs d'électricité réduits. N'hésitez pas à programmer la charge pour optimiser le processus lorsque vous êtes à la maison
            <br><br>
             <span>6 - Maintenance de la batterie:</span>
            <br><br>
            Nous vous informons sur les meilleures pratiques pour prolonger la durée de vie de votre batterie. Évitez les charges fréquentes à 100% et pensez à effectuer des vérifications régulières de l'état de la batterie ainsi que du système de recharge.
            <br><br>
             <span>7 - Surveillez votre vitesse:</span>
            <br><br>
            Respectez les limitations de vitesse et adoptez une conduite en douceur pour minimiser la résistance de l'air.
            Évitez les accélérations brusques et les décélérations soudaines, privilégiez une conduite stable.
            <br><br>
             <span>8 - Température modérée:</span>
            <br><br>
            Utilisez la climatisation et le chauffage de manière modérée pour réduire la charge sur la batterie.
            Préconditionnez votre véhicule pendant qu'il est branché pour atteindre la température souhaitée tout en étant toujours connecté à une source d'énergie.
            <br><br>
             <span>9 - Économisez l'énergie:</span>
            <br><br>
            Désactivez les fonctions inutiles telles que les phares, la radio et d'autres accessoires électriques lorsque vous n'en avez pas besoin.
            Utilisez le régulateur de vitesse pour maintenir une vitesse constante sur les autoroutes et les routes plates.
            <br><br>
             <span>10 - Prévoyez votre itinéraire:</span>
            <br><br>
            Utilisez les fonctionnalités de planification d'itinéraire de l'application pour identifier les stations de recharge et optimiser votre trajet.
            Évitez les détours inutiles qui pourraient augmenter la distance à parcourir.
        </div>
    </div>
</main>

{% endblock %}
