{% extends 'base.html.twig' %}

{% block title %}Informations{% endblock %}

{% block body %}
<main>
    <div class="rgpdText">
        <h1 class="title">Politique de confidentialité</h1>

        <p>Dernière mise à jour : 05/02/2024</p>

        <p>La présente Politique de confidentialité définit la manière dont Géocode collecte,
            utilise, stocke et protège les informations personnelles que vous nous fournissez
            lorsque vous utilisez notre site web et nos services.
        </p>

        <h2>Collecte et Utilisation des Informations</h2>

        <h3>a. Informations Personnelles :</h3>
        <p>Nous pouvons collecter les informations personnelles que vous nous fournissez volontairement
            lors de l'inscription, de la soumission de formulaires ou de toute autre interaction
            avec notre site. Ces informations peuvent inclure votre nom, prénom, adresse e-mail,
            date de naissance, genre, et d'autres informations nécessaires aux services
            que nous fournissons.
        </p>


        <h3>b. Données de Navigation :</h3>
        <p>Nous collectons également des informations non personnelles sur la manière
            dont vous utilisez notre site, telles que les pages visitées, le type de navigateur utilisé,
            l'adresse IP, et d'autres données similaires. Ces informations sont utilisées à des fins
            d'analyse et d'amélioration de notre site.
        </p>

        <h2>Consentement</h2>

        <h3>a. Consentement explicite :</h3>
        <p>En utilisant notre site et en fournissant vos informations personnelles,
            vous consentez explicitement à la collecte, au stockage et à l'utilisation de vos données
            conformément à la présente Politique de confidentialité.
        </p>

        <h3>b. Retrait du consentement :</h3>
        <p>Vous avez le droit de retirer votre consentement à tout moment en nous contactant à
            admin@geocode.com.
        </p>

        <h2>Partage d'Informations</h2>

        <h3>a. Tiers de confiance :</h3>
        <p>Nous pouvons partager vos informations personnelles avec des tiers de confiance,
            tels que des partenaires de services, pour la fourniture de services spécifiques.
            Cependant, nous ne vendons ni ne louons vos informations à des tiers à des fins de marketing.
        </p>

        <h3>b. Obligations légales :</h3>
        <p>Nous pouvons également divulguer vos informations si cela est requis par la loi
            ou pour protéger nos droits légaux.
        </p>

        <h2>Sécurité des Données</h2>

        <h3>a. Mesures de sécurité :</h3>
        <p>Nous prenons des mesures raisonnables pour protéger vos informations contre tout accès
            non autorisé, modification, divulgation ou destruction.
        </p>

        <h2>Vos Droits</h2>

        <h3>a. Accès et Correction :</h3>
        <p>Vous avez le droit d'accéder à vos informations personnelles et de les corriger
            si elles sont inexactes.
        </p>

        <h3>b. Suppression des Données :</h3>
        <p>Vous avez le droit de demander la suppression de vos informations personnelles,
            sauf si nous sommes légalement tenus de les conserver.
        </p>

        <h2>Modifications de la Politique de Confidentialité</h2>

        <h3>a. Mises à jour :</h3>
        <p>Nous nous réservons le droit de mettre à jour cette Politique de confidentialité
            à tout moment. Les modifications seront publiées sur cette page avec la date de mise à jour.
        </p>

        <h2>Contactez-nous</h2>

        <h3>a. Questions :</h3>
        <p>Si vous avez des questions concernant notre Politique de confidentialité,
            veuillez nous contacter à admin@geocode.com.
        </p>

        <p>En utilisant notre site, vous acceptez les termes de la présente Politique de confidentialité.</p>

    </div>
</main>
{% endblock %}
