{% extends 'base.html.twig' %}

{% block title %}Geocode - Carte{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script>
        let userLon;
        let userLat;
    </script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
{% endblock %}

{% block body %}
    <main class="map">
        <div id="map" {{ stimulus_controller('map_search') }}></div>
    </main>
    {% include 'components/_modal-search.html.twig' %}
{% endblock %}


