{% extends 'base.html.twig' %}

{% block title %}Géocode - Trajet{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script>let data = '';</script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    {#    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />#}

{% endblock %}

{% block body %}
    <main class="map">
        <div id="map"></div>
    </main>
    <script>
        function bob() {
            let userLat = 0;
            let userLon = 0;
            let map = L.map("map").setView({lon: userLon, lat: userLat}, 2);
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition((position) => {
                    userLat = Number(position.coords.latitude.toFixed(2));
                    userLon = Number(position.coords.longitude.toFixed(2));
                    console.log(userLon, userLat);
                    console.log(typeof userLat);
                    map.setView({lon: userLon, lat: userLat}, 2);
                    map.setZoom(15);
                    L.marker({lon: userLon, lat: userLat})
                        .bindPopup("Vous êtes ici")
                        .addTo(map);
                });
            } else {
                console.log("geolocation IS NOT available");
            }
            //window.onload(displayMap(userLon, userLat));
            displayMap(0, 0);

            // initialize Leaflet
            function displayMap(userLon, userLat) {
                map.setView({lon: userLon, lat: userLat}, 2);
                map.setZoom(15);
                // add the OpenStreetMap tiles
                L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
                    maxZoom: 19,
                    attribution:
                        '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>',
                }).addTo(map);

                // show the scale bar on the lower left corner
                L.control.scale({imperial: true, metric: true}).addTo(map);

                // show a marker on the map
                var latlngs = [
                    [45.51, -122.68],
                    [37.77, -122.43],
                    [34.04, -118.2],
                ];

                var polyline = L.polyline(latlngs, {color: "red"}).addTo(map);

                // zoom the map to the polyline
                map.fitBounds(polyline.getBounds());
            }
        }

        setTimeout(bob, 500);

    </script>
{% endblock %}
