{% extends 'base.html.twig' %}

{% block title %}New Terminal{% endblock %}

{% block body %}
    <h1>Create new Terminal</h1>

    {{ include('admin_terminal/_form.html.twig') }}

    <a href="{{ path('app_admin_terminal_index') }}">back to list</a>
{% endblock %}
