{% extends 'base.html.twig' %}

{% block title %}Hello AdminPanelController!{% endblock %}

{% block body %}

    {% include 'components/_adminsidebar.html.twig' %}
        <main>

            <ul>
                <li>Nombre de voitures : {{ nbCars }}</li>
                <li>Nombre de villes : {{ nbTown }}</li>
                <li>Nombre d'utilisateurs : {{ nbUsers }}</li>
                <li>Nombre de bornes : {{ nbTerminals }}</li>
            </ul>
        </main>

{% endblock %}
