{% extends 'base.html.twig' %}

{% block title %}Hello AdminPanelController!{% endblock %}

{% block body %}
    <div class="main-aside">
    {% include 'components/_adminsidebar.html.twig' %}
        <main class="aside-main">

        </main>
    </div>
{% endblock %}
