{% extends 'base.html.twig' %}

{% block title %}Hello AdminPanelController!{% endblock %}

{% block body %}

    {% include 'components/_adminsidebar.html.twig' %}
        <main>

        </main>

{% endblock %}
