{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    <main>
        <div>
            <h1 class="title">Mon historique de réservations</h1>

            {% for booking in bookings %}
                <div class="reservationList">
                    <p>Date de début : {{ booking.datetimeStart|date('Y-m-d H:i:s') }}</p>
                    <p>Date de fin : {{ booking.dateTimeEnd|date('Y-m-d H:i:s') }}</p>
                    <p>Adresse : {{ booking.terminal.address }}</p>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
