{% extends 'base.html.twig' %}

{% block title %}Edit Car{% endblock %}

{% block body %}
    <main>
        <div>
            <h1 class="title">Modifier Car</h1>

            {{ include('car/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('app_car_list') }}">Retour à la list</a>
        </div>
    </main>
{% endblock %}
