{% extends 'base.html.twig' %}

{% block title %}Enregistrer son véhicule{% endblock %}

{% block body %}
<main>
    <div>
        <h1 class="title">Mes voitures</h1>
        {%for car in cars %}

        <div>
            <a href="{{ path("app_car", {'id': car.id}) }}">{{ car.brand }} - {{ car.model }}</a>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
