{% extends 'base.html.twig' %}

{% block title %}New Car{% endblock %}

{% block body %}
    <main>
        <div>

            <h1 class="title">Ajouter une voiture</h1>

            {{ include('car/_form.html.twig') }}

            <a href="{{ path('app_car_index') }}">retour à la list</a>
        </div>
    </main>
{% endblock %}
