.booking {
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.svgCancel{
    position: absolute;
    right: 1rem;
    top: 0;
}

.mediumTitle {
    font-size: medium;
    margin-bottom: 8px;
}

.timetable{
    padding: 0 1.25rem 1.25rem 1.25rem;
}

.map-modal-booking {
    width: 100vw;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: solid 2px var(--color-ternary);
    top: initial;
    bottom: var(--navbar-height);
    //margin-left: 0.5rem;
    margin-bottom: 1.5rem;
    position: absolute;
    z-index: 2000;
}

.bookAdress{
    margin: 8px 0 0 8px;
}

.cancelBook{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 0.7rem;
}

@media screen and (width > 576px) {
    .map-modal-booking {
        margin-left: 4%;
        margin-bottom: 0;
        width: 35vw;
    }
}

.reservationList{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 250px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.booked{
   color: #8080806b;
}
