.booking {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.mediumTitle {
    font-size: medium;
    margin-bottom: 8px;
}

.timetable{
    padding: 0 1.25rem 1.25rem 1.25rem;
}

.map-modal {
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: solid 2px var(--color-ternary);
}

.reservationList{
    margin: 1rem;
}

.booked{
   color: #8080806b;
}
