main {
    background-color: var(--color-quinternary);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 1.25rem;
    padding:  1.25rem 1.25rem 0 1.25rem ;
    //box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  }


  label {
      display: block;
      margin-bottom: 0.5rem;
      margin-right: 5px;
  }

  input, .ts-control {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 0.05rem solid #ccc;
    border-radius: 0.25rem;
    width: 300px;
    @media screen and (width > 572px) {
      width: 359px;
    }
  }

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

input[type=checkbox] {
    border-radius: 4px;
    height: 15px;
    width: 15px;
    background: var(--color-quinternary);
    border: 1px solid #ccc;
}

input[type="checkbox"]:checked {
    background: var(--color-quinternary);
    position: relative;
    &:before {
        font-family: "Voces", sans-serif;
        content: url("../images/check.svg");
        display: block;
        color: grey;
        font-size: 13px;
        position: absolute;
        transform: translate(-10px, -13px);
    }
}
    .checkbox{
        display: grid;
        grid-template-columns: 80px 20px;
    }

input[type=file]::file-selector-button {
    border: none ;
    padding: 2% 4%;
    border-radius: 2rem;
    background-color: var(--color-ternary);
    color: var(--color-quinternary);
    transition: 1s;
}

input[type=file]::file-selector-button:hover {
    filter: drop-shadow(-4px 4px 2px rgb(0 0 0 / 0.4));
    transform: translateX(0);
}

.alert.alert-success {
    color: #127127;; /* Couleur du texte pour le succès */
    //background-color: #00ffa9;
    //width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.alert.alert-success svg{
    margin: 5px 8px;
}

.alert.alert-danger {
    color: #f02d3f; /* Couleur du texte pour l'erreur */
    //background-color: #ff000061;;
    //width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.alert.alert-danger svg {
    margin: 5px 8px;
}

//.liste{
//    display: flex;
//    align-items: center;
//    flex-direction: row;
//    margin-bottom: 1rem;
//    width: 80%;
//}

