form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #525B5A(0, 0, 0, 0.1);
    border-radius: 2rem;
}
  
label {
    display: block;
    margin-bottom: 8px;
}
  
select {
    padding: 0.8rem 1rem;
    margin-bottom: 4px;
    box-sizing: border-box;
    border-radius: 2rem;
    background-color: #E5E9E7;
    color: #525B5A;
}
  
  