table {
    border: 1px solid black;

    tr:nth-child(odd) {
        background-color: var(--color-primary);
    }

    tr:nth-child(even) {
        background-color: #97A29C;
    }

    tr:hover {
        color: var(--color-quinternary);
        background-color: var(--color-secondary);
    }

    th, td {
        padding: 0.5rem;
    }
    svg {
        margin: 0 0.5rem;
    }
}

.two-parts {
    background-color: #5cd858;

}

.indexA {
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline !important;
    background: linear-gradient(0deg, #21a89a, #5cd858);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 1vw;
}
