{% extends 'base.html.twig' %}

{% block title %} sidebar {% endblock %}

{% block body %}

 <div class="sidebar" id="sidebar">
    <a href="#"><strong>Compte</strong></a>
    <a href="#"><strong>Messagerie</strong></a>
    <a href="#"><strong>Notifications</strong></a>
    <a href="#"><strong>Paramètres</strong></a>
    <a href="#"><em>Liste des Bornes</em></a>
    <a href="#"><em>Liste des Véhicules</em></a>
    <a href="#"><em>Liste des Utilisateurs</em></a>
    <a href="#"><em>Liste des actualités</em></a>

    <a href="#">Actualités</a>
    <a href="#">Créer une actualité</a>
    <a href="#">Statistiques</a>
    <a href="#">Accéder aux statistiques</a>
    <a href="#">Accéder aux rapports</a>
 </div>

<div class="content" id="content">
</div>

{% endblock %}
