<div class="map-modal">
    <div class='modal-grid-contenair'>
        <div class='modal-card-bg'>
        </div>
        <div class='modal-card-border'>
            <div class='modal-card'>
                {{ form_start(form) }}
                <button class="button" id="validate-search">
                    {% if setButton is defined %}
                    {{ setButton }}
                    {% else %}
                    Chercher
                    {% endif %}
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
